body{
  text-align: center;
  margin:0;
  font-family: 'Merriweather', serif;
}

h1{
  font-family: 'Sacramento', cursive;
  color: #0D8549;
  margin:10px auto 0 auto;
  font-size: 5.625rem;
}
h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 5px;

}
h3{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  margin: 10px auto 0 auto;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
p{
    line-height: 2;
}
.pro{
  text-decoration: underline;
}
.cloud{
  position: absolute;
  top: 30px;
  right:200px;

}
.cloudy{
  position: absolute;
  top:300px;
  left:200px;
}
.linkedin{
  width: 20px;
  height: 20px;
}
.twitter{
  width: 20px;
  height: 20px;
}
.website{
  width: 20px;
  height: 20px;
}
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.bottom-container{
  margin:60px auto 0 auto;
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.middle-container {
    margin: 100px auto;
}
.skill-row{
  width: 60%;
  margin: 50px auto 50px auto;
  text-align:left;
}
.skill{
  float: left;
  margin-right: 50px;
}
.skills{
  float:right;
  margin-left:100px;
}

.intro{
  width: 30%;
  margin: auto;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.btn {
  background: #3278a3;
  background-image: -webkit-linear-gradient(top, #3278a3, #84c3eb);
  background-image: -moz-linear-gradient(top, #3278a3, #84c3eb);
  background-image: -ms-linear-gradient(top, #3278a3, #84c3eb);
  background-image: -o-linear-gradient(top, #3278a3, #84c3eb);
  background-image: linear-gradient(to bottom, #3278a3, #84c3eb);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3099db;
  background-image: -webkit-linear-gradient(top, #3099db, #2a97e0);
  background-image: -moz-linear-gradient(top, #3099db, #2a97e0);
  background-image: -ms-linear-gradient(top, #3099db, #2a97e0);
  background-image: -o-linear-gradient(top, #3099db, #2a97e0);
  background-image: linear-gradient(to bottom, #3099db, #2a97e0);
  text-decoration: none;
}
